@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .square {
    aspect-ratio: 1/1;
  }
}
@font-face {
  font-family: "AntonReg";
  src: url("../public/Anton-Regular.ttf");
}
@font-face {
  font-family: "ArchivoBlack";
  src: url("../public/ArchivoBlack-Regular.ttf");
}
@font-face {
  font-family: "AntonioBold";
  src: url("../public/Antonio-Bold.ttf");
}
@font-face {
  font-family: "MontSemiBold";
  src: url("../public/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "MontBold";
  src: url("../public/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "MontBlack";
  src: url("../public/Montserrat-Black.ttf");
}
@font-face {
  font-family: "MontReg";
  src: url("../public/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "MontBoldItalic";
  src: url("../public/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family: "MontBlackItalic";
  src: url("../public/Montserrat-BlackItalic.ttf");
}
@font-face {
  font-family: "MontThinItalic";
  src: url("../public/Montserrat-ThinItalic.ttf");
}
html {
  scroll-behavior: smooth;
  scroll-padding: 80px !important;
}
body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

.custom-img {
  background-image: url("/images/vertical.webp");
}

.surfbowl-img {
  background-image: url("/images/surfbowl4.webp");
}
.custom-img2 {
  background-image: url("/images/surfskate.jpeg");
}

.map-responsive iframe {
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.background {
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(
      at 100% 100%,
      rgb(0, 0, 0) 0,
      transparent 63%
    ),
    radial-gradient(at 14% 46%, rgb(234, 88, 12) 0, transparent 82%),
    radial-gradient(at 76% 27%, rgb(236, 72, 153) 0, transparent 100%),
    radial-gradient(at 100% 100%, rgb(231, 229, 228) 0, transparent 100%);
}

.bg4colores2 {
  background-image: radial-gradient(
      at 58% 77%,
      rgb(251, 146, 60) 0,
      transparent 69%
    ),
    radial-gradient(at 91% 81%, rgb(162, 28, 175) 0, transparent 88%),
    radial-gradient(at 19% 65%, rgb(252, 165, 165) 0, transparent 75%),
    radial-gradient(at 9% 97%, rgb(209, 250, 229) 0, transparent 70%),
    radial-gradient(at 7% 75%, rgb(6, 78, 59) 0, transparent 49%),
    radial-gradient(at 20% 12%, rgb(254, 240, 138) 0, transparent 91%);
}

.bgotob {
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(
      at 0% 42%,
      rgb(190, 24, 93) 0,
      transparent 69%
    ),
    radial-gradient(at 0% 0%, rgb(190, 24, 93) 0, transparent 74%),
    radial-gradient(at 0% 82%, rgb(234, 88, 12) 0, transparent 47%);
}

.bgotow {
  background-color: rgb(255, 255, 255);
  background-image: radial-gradient(
      at 0% 70%,
      rgb(234, 88, 12) 0,
      transparent 81%
    ),
    radial-gradient(at 0% 16%, rgb(234, 88, 12) 0, transparent 56%),
    radial-gradient(at 0% 100%, rgb(234, 88, 12) 0, transparent 71%);
}

.leaflet-container {
  width: 100vh;
  height: 100vh;
}

.mainStyle {
	max-width: 100%;
  height: 100vh;
}

.mapStyle {
  width: 100%;
  height: 100%; 
}

.popupTitle {
  background-color: #87bd41;
  font-weight: 700;
  padding: 10px;
}

.popupInfo {
  font-weight: 400;
	font-size: 14px;
  padding: 10px;
}

.popupLabel {
  font-weight: bold;
}

.popupWebUrl {
  color: dodgerblue;
}

.popupWebUrl:active, 
.popupWebUrl:focus {
  outline: 0;
}